.container-avatar-label-group-size--sm {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.container-avatar-label-group-size--md,
.container-avatar-label-group-size--lg {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}
.container-avatar-label-group-size--xl {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.avatar-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.text-label-avatar-sm-semibold {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.text-label-avatar-md-semibold {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.text-label-avatar-lg-semibold {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.text-color-label-avatar {
  color: var(--gray-700);
}

.subtext-color-label-avatar {
  color: var(--gray-600);
}

.text-label-avatar-xs-regular {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.text-label-avatar-sm-regular {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.text-label-avatar-md-regular {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.icon-avatar-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
