@import url('./color.css');
.base-button-close-x {
  border-radius: 8px;
}
.button-close-x-size--sm {
  width: 36px;
  height: 36px;
  padding: 8px;
}
.button-close-x-size--md {
  width: 40px;
  height: 40px;
  padding: 10px;
}
.button-close-x-size--lg {
  width: 44px;
  height: 44px;
  padding: 10px;
}

.icon-x-close-size--sm-color--primary-theme--light-state--default::before {
  content: url('../icons/icon-button/x-close/x-close-primary-500-sm.svg');
}
.icon-x-close-size--md-color--primary-theme--light-state--default::before {
  content: url('../icons/icon-button/x-close/x-close-primary-500-md.svg');
}
.icon-x-close-size--lg-color--primary-theme--light-state--default::before {
  content: url('../icons/icon-button/x-close/x-close-primary-500-lg.svg');
}

.icon-x-close-size--sm-color--primary-theme--light-state--hover::before {
  content: url('../icons/icon-button/x-close/x-close-primary-500-sm.svg');
}
.icon-x-close-size--md-color--primary-theme--light-state--hover::before {
  content: url('../icons/icon-button/x-close/x-close-primary-500-md.svg');
}
.icon-x-close-size--lg-color--primary-theme--light-state--hover::before {
  content: url('../icons/icon-button/x-close/x-close-primary-500-lg.svg');
}

.icon-x-close-size--sm-color--primary-theme--light-state--focused::before {
  content: url('../icons/icon-button/x-close/x-close-primary-500-sm.svg');
}
.icon-x-close-size--md-color--primary-theme--light-state--focused::before {
  content: url('../icons/icon-button/x-close/x-close-primary-500-md.svg');
}
.icon-x-close-size--lg-color--primary-theme--light-state--focused::before {
  content: url('../icons/icon-button/x-close/x-close-primary-500-lg.svg');
}

.icon-x-close-size--sm-color--primary-theme--dark-state--focused::before {
  content: url('../icons/icon-button/x-close/x-close-white-sm.svg');
}
.icon-x-close-size--md-color--primary-theme--dark-state--focused::before {
  content: url('../icons/icon-button/x-close/x-close-white-md.svg');
}
.icon-x-close-size--lg-color--primary-theme--dark-state--focused::before {
  content: url('../icons/icon-button/x-close/x-close-white-sm.svg');
}
.icon-x-close-size--sm-color--gray-theme--light-state--default::before {
  content: url('../icons/icon-button/x-close/x-close-gray-500-sm.svg');
}
.icon-x-close-size--md-color--gray-theme--light-state--default::before {
  content: url('../icons/icon-button/x-close/x-close-gray-500-md.svg');
}
.icon-x-close-size--lg-color--gray-theme--light-state--default::before {
  content: url('../icons/icon-button/x-close/x-close-gray-500-lg.svg');
}

.icon-x-close-size--sm-color--gray-theme--light-state--hover::before {
  content: url('../icons/icon-button/x-close/x-close-gray-600-sm.svg');
}
.icon-x-close-size--md-color--gray-theme--light-state--hover::before {
  content: url('../icons/icon-button/x-close/x-close-gray-600-md.svg');
}
.icon-x-close-size--lg-color--gray-theme--light-state--hover::before {
  content: url('../icons/icon-button/x-close/x-close-gray-600-lg.svg');
}

.icon-x-close-size--sm-color--gray-theme--light-state--focused::before {
  content: url('../icons/icon-button/x-close/x-close-gray-500-sm.svg');
}
.icon-x-close-size--md-color--gray-theme--light-state--focused::before {
  content: url('../icons/icon-button/x-close/x-close-gray-500-md.svg');
}
.icon-x-close-size--lg-color--gray-theme--light-state--focused::before {
  content: url('../icons/icon-button/x-close/x-close-gray-500-lg.svg');
}

.icon-x-close-size--sm-color--gray-theme--dark-state--focused::before {
  content: url('../icons/icon-button/x-close/x-close-white-sm.svg');
}
.icon-x-close-size--md-color--gray-theme--dark-state--focused::before {
  content: url('../icons/icon-button/x-close/x-close-white-md.svg');
}
.icon-x-close-size--lg-color--gray-theme--dark-state--focused::before {
  content: url('../icons/icon-button/x-close/x-close-white-sm.svg');
}
.button-close-x-color--primary-theme--light-state--default {
  background: none;
  border: none;
}
.button-close-x-color--primary-theme--light-state--hover {
  background: var(--primary-50);
  border: none;
}
.button-close-x-color--primary-theme--light-state--focused {
  background: var(--primary-50);
  border: none;
  box-shadow: 0px 0px 0px 4px var(--primary-100);
}

.button-close-x-color--primary-theme--dark-state--focused {
  background: var(--primary-400);
  border: none;
  box-shadow: 0px 0px 0px 4px var(--primary-500);
}
.button-close-x-color--gray-theme--light-state--default {
  background: none;
  border: none;
}
.button-close-x-color--gray-theme--light-state--hover {
  background: var(--gray-50);
  border: none;
}
.button-close-x-color--gray-theme--light-state--focused {
  background: var(--gray-50);
  border: none;
}

.button-close-x-color--gray-theme--dark-state--focused {
  background: var(--gray-400);
  border: none;
  box-shadow: 0px 0px 0px 4px var(--gray-500);
}
