:root {
  /* --blue: #6495ed;
    --white: #faf0e6; 
    --primary-background-color: ;
    --primary-text-color: ; */
  --base-white: #ffffff;
  --base-black: #000000;
  --gray-25: #fcfcfc;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1d2939;
  --gray-900: #101828;
  --primary-25: #fff5f9;
  --primary-50: #fff0f5;
  --primary-100: #fbe6ed;
  --primary-200: #f6bfd4;
  --primary-300: #f296b7;
  --primary-400: #ee6e9b;
  --primary-500: #ea5284;
  --primary-600: #e83c70;
  --primary-700: #d6396c;
  --primary-800: #c03466;
  --primary-900: #aa3060;
  --error-25: #fffbfa;
  --error-50: #fef3f2;
  --error-100: #fee4e2;
  --error-200: #fecdca;
  --error-300: #fda29b;
  --error-400: #f97066;
  --error-500: #f04438;
  --error-600: #d92d20;
  --error-700: #b42318;
  --error-800: #912018;
  --error-900: #7a271a;
  --warning-25: #fffcf5;
  --warning-50: #fffaeb;
  --warning-100: #fef0c7;
  --warning-200: #fedf89;
  --warning-300: #fec84b;
  --warning-400: #fdb022;
  --warning-500: #f79009;
  --warning-600: #dc6803;
  --warning-700: #b54708;
  --warning-800: #93370d;
  --warning-900: #7a2e0e;
  --success-25: #f6fef9;
  --success-50: #ecfdf3;
  --success-100: #d1fadf;
  --success-200: #a6f4c5;
  --success-300: #6ce9a6;
  --success-400: #32d583;
  --success-500: #12b76a;
  --success-600: #039855;
  --success-700: #027a48;
  --success-800: #05603a;
  --success-900: #054f31;
  --grayblue-25: #fcfcfd;
  --grayblue-50: #f8f9fc;
  --grayblue-100: #eaecf5;
  --grayblue-200: #d5d9eb;
  --grayblue-300: #b3b8db;
  --grayblue-400: #717bbc;
  --grayblue-500: #4e5ba6;
  --grayblue-600: #3e4784;
  --grayblue-700: #363f72;
  --grayblue-800: #293056;
  --grayblue-900: #101323;
  --graycool-25: #fcfcfd;
  --graycool-50: #f9f9fb;
  --graycool-100: #eff1f5;
  --graycool-200: #dcdfea;
  --graycool-300: #b9c0d4;
  --graycool-400: #7d89b0;
  --graycool-500: #5d6b98;
  --graycool-600: #4a5578;
  --graycool-700: #4a5578;
  --graycool-800: #30374f;
  --graycool-900: #111322;
  --graymodern-25: #fcfcfd;
  --graymodern-50: #f8fafc;
  --graymodern-100: #eef2f6;
  --graymodern-200: #e3e8ef;
  --graymodern-300: #cdd5df;
  --graymodern-400: #9aa4b2;
  --graymodern-500: #697586;
  --graymodern-600: #4b5565;
  --graymodern-700: #364152;
  --graymodern-800: #202939;
  --graymodern-900: #121926;
  --grayneutral-25: #fcfcfd;
  --grayneutral-50: #f9fafb;
  --grayneutral-100: #f3f4f6;
  --grayneutral-200: #e5e7eb;
  --grayneutral-300: #d2d6db;
  --grayneutral-400: #9da4ae;
  --grayneutral-500: #9da4ae;
  --grayneutral-600: #4d5761;
  --grayneutral-700: #384250;
  --grayneutral-800: #1f2a37;
  --grayneutral-900: #111927;
  --grayiron-25: #fcfcfc;
  --grayiron-50: #fafafa;
  --grayiron-100: #f4f4f5;
  --grayiron-200: #e4e4e7;
  --grayiron-300: #d1d1d6;
  --grayiron-400: #a0a0ab;
  --grayiron-500: #70707b;
  --grayiron-600: #51525c;
  --grayiron-700: #3f3f46;
  --grayiron-800: #26272b;
  --grayiron-900: #18181b;
  --graytrue-25: #fcfcfc;
  --graytrue-50: #fafafa;
  --graytrue-100: #f5f5f5;
  --graytrue-200: #e5e5e5;
  --graytrue-300: #d6d6d6;
  --graytrue-400: #a3a3a3;
  --graytrue-500: #737373;
  --graytrue-600: #525252;
  --graytrue-700: #424242;
  --graytrue-800: #292929;
  --graytrue-900: #141414;
  --graywarm-25: #fdfdfc;
  --graywarm-50: #fafaf9;
  --graywarm-100: #f5f5f4;
  --graywarm-200: #e7e5e4;
  --graywarm-300: #d7d3d0;
  --graywarm-400: #a9a29d;
  --graywarm-500: #79716b;
  --graywarm-600: #57534e;
  --graywarm-700: #44403c;
  --graywarm-800: #292524;
  --graywarm-900: #1c1917;
  --moss-25: #fafdf7;
  --moss-50: #f5fbee;
  --moss-100: #e6f4d7;
  --moss-200: #ceeab0;
  --moss-300: #acdc79;
  --moss-400: #86cb3c;
  --moss-500: #669f2a;
  --moss-600: #4f7a21;
  --moss-700: #3f621a;
  --moss-800: #335015;
  --moss-900: #2b4212;
  --greenlight-25: #fafef5;
  --greenlight-50: #f3fee7;
  --greenlight-100: #e3fbcc;
  --greenlight-200: #d0f8ab;
  --greenlight-300: #a6ef67;
  --greenlight-400: #85e13a;
  --greenlight-500: #66c61c;
  --greenlight-600: #4ca30d;
  --greenlight-700: #3b7c0f;
  --greenlight-800: #326212;
  --greenlight-900: #326212;
  --green-25: #f6fef9;
  --green-50: #edfcf2;
  --green-100: #d3f8df;
  --green-200: #aaf0c4;
  --green-300: #73e2a3;
  --green-400: #3ccb7f;
  --green-500: #16b364;
  --green-600: #099250;
  --green-700: #087443;
  --green-800: #095c37;
  --green-900: #084c2e;
  --teal-25: #f6fefc;
  --teal-50: #f0fdf9;
  --teal-100: #ccfbef;
  --teal-200: #99f6e0;
  --teal-300: #5fe9d0;
  --teal-400: #2ed3b7;
  --teal-500: #15b79e;
  --teal-600: #0e9384;
  --teal-700: #107569;
  --teal-800: #125d56;
  --teal-900: #134e48;
  --cyan-25: #f5feff;
  --cyan-50: #ecfdff;
  --cyan-100: #cff9fe;
  --cyan-200: #a5f0fc;
  --cyan-300: #67e3f9;
  --cyan-400: #22ccee;
  --cyan-500: #06aed4;
  --cyan-600: #088ab2;
  --cyan-700: #0e7090;
  --cyan-800: #155b75;
  --cyan-900: #164c63;
  --bluelight-25: #f5fbff;
  --bluelight-50: #f0f9ff;
  --bluelight-100: #e0f2fe;
  --bluelight-200: #b9e6fe;
  --bluelight-300: #7cd4fd;
  --bluelight-400: #36bffa;
  --bluelight-500: #0ba5ec;
  --bluelight-600: #0086c9;
  --bluelight-700: #026aa2;
  --bluelight-800: #065986;
  --bluelight-900: #0b4a6f;
  --blue-25: #f5faff;
  --blue-50: #eff8ff;
  --blue-100: #d1e9ff;
  --blue-200: #b2ddff;
  --blue-300: #84caff;
  --blue-400: #53b1fd;
  --blue-500: #2e90fa;
  --blue-600: #1570ef;
  --blue-700: #175cd3;
  --blue-800: #1849a9;
  --blue-900: #194185;
  --bluedark-25: #f5f8ff;
  --bluedark-50: #eff4ff;
  --bluedark-100: #d1e0ff;
  --bluedark-200: #b2ccff;
  --bluedark-300: #84adff;
  --bluedark-400: #528bff;
  --bluedark-500: #2970ff;
  --bluedark-600: #155eef;
  --bluedark-700: #004eeb;
  --bluedark-800: #0040c1;
  --bluedark-900: #00359e;
  --indigo-25: #f5f8ff;
  --indigo-50: #eef4ff;
  --indigo-100: #e0eaff;
  --indigo-200: #c7d7fe;
  --indigo-300: #a4bcfd;
  --indigo-400: #8098f9;
  --indigo-500: #6172f3;
  --indigo-600: #444ce7;
  --indigo-700: #3538cd;
  --indigo-800: #2d31a6;
  --indigo-900: #2d3282;
  --violet-25: #fbfaff;
  --violet-50: #f5f3ff;
  --violet-100: #ece9fe;
  --violet-200: #ddd6fe;
  --violet-300: #c3b5fd;
  --violet-400: #a48afb;
  --violet-500: #875bf7;
  --violet-600: #7839ee;
  --violet-700: #6927da;
  --violet-800: #5720b7;
  --violet-900: #491c96;
  --purple-25: #fafaff;
  --purple-50: #f4f3ff;
  --purple-100: #ebe9fe;
  --purple-200: #d9d6fe;
  --purple-300: #bdb4fe;
  --purple-400: #9b8afb;
  --purple-500: #7a5af8;
  --purple-600: #6938ef;
  --purple-700: #5925dc;
  --purple-800: #4a1fb8;
  --purple-900: #3e1c96;
  --fuchsia-25: #fefaff;
  --fuchsia-50: #fdf4ff;
  --fuchsia-100: #fbe8ff;
  --fuchsia-200: #f6d0fe;
  --fuchsia-300: #eeaafd;
  --fuchsia-400: #e478fa;
  --fuchsia-500: #d444f1;
  --fuchsia-600: #ba24d5;
  --fuchsia-700: #9f1ab1;
  --fuchsia-800: #821890;
  --fuchsia-900: #6f1877;
  --pink-25: #fef6fb;
  --pink-50: #fdf2fa;
  --pink-100: #fce7f6;
  --pink-200: #fcceee;
  --pink-300: #faa7e0;
  --pink-400: #f670c7;
  --pink-500: #ee46bc;
  --pink-600: #dd2590;
  --pink-700: #c11574;
  --pink-800: #9e165f;
  --pink-900: #851651;
  --rose-25: #fff5f6;
  --rose-50: #fff1f3;
  --rose-100: #ffe4e8;
  --rose-200: #fecdd6;
  --rose-300: #fea3b4;
  --rose-400: #fd6f8e;
  --rose-500: #f63d68;
  --rose-600: #e31b54;
  --rose-700: #c01048;
  --rose-800: #a11043;
  --rose-900: #89123e;
  --orangedark-25: #fff9f5;
  --orangedark-50: #fff4ed;
  --orangedark-100: #ffe6d5;
  --orangedark-200: #ffd6ae;
  --orangedark-300: #ff9c66;
  --orangedark-400: #ff692e;
  --orangedark-500: #ff4405;
  --orangedark-600: #e62e05;
  --orangedark-700: #bc1b06;
  --orangedark-800: #97180c;
  --orangedark-900: #771a0d;
  --orange-25: #fefaf5;
  --orange-50: #fef6ee;
  --orange-100: #fdead7;
  --orange-200: #f9dbaf;
  --orange-300: #f7b27a;
  --orange-400: #f38744;
  --orange-500: #ef6820;
  --orange-600: #e04f16;
  --orange-700: #b93815;
  --orange-800: #932f19;
  --orange-900: #772917;
  --yellow-25: #fefdf0;
  --yellow-50: #fefbe8;
  --yellow-100: #fef7c3;
  --yellow-200: #feee95;
  --yellow-300: #fde272;
  --yellow-400: #fac515;
  --yellow-500: #eaaa08;
  --yellow-600: #ca8504;
  --yellow-700: #a15c07;
  --yellow-800: #854a0e;
  --yellow-900: #713b12;

  --gray-gradient-600: conic-gradient(
    from 259.08deg at 50% 50%,
    var(--gray-600) 0deg,
    rgba(71, 84, 103, 0) 360deg
  );

  --gray-gradient-600-500: linear-gradient(
    90deg,
    var(--gray-600) 0%,
    var(--gray-500) 100%
  );
  --gray-gradient-700-600: linear-gradient(
    45deg,
    var(--gray-700) 0%,
    var(--gray-600) 100%
  );
  --gray-gradient-45deg-800-600: linear-gradient(
    45deg,
    var(--gray-800) 0%,
    var(--gray-600) 100%
  );
  --gray-gradient-90deg-800-600: linear-gradient(
    63.44deg,
    var(--gray-800) 16.72%,
    var(--gray-600) 83.39%
  );
  --gray-gradient-800-700: linear-gradient(
    26.57deg,
    var(--gray-800) 8.33%,
    var(--gray-700) 91.67%
  );
  --gray-gradient-900-600: linear-gradient(
    45deg,
    var(--gray-900) 0%,
    var(--gray-600) 100%
  );

  --primary-gradient-600: conic-gradient(
    from 259.08deg at 50% 50%,
    var(--primary-600) 0deg,
    rgba(232, 60, 112, 0) 360deg
  );
  --primary-gradient-600-500: linear-gradient(
    90deg,
    var(--primary-600) 0%,
    var(--primary-500) 100%
  );
  --primary-gradient-700-600: linear-gradient(
    45deg,
    var(--primary-800) 0%,
    var(--primary-600) 100%
  );
  --primary-gradient-45deg-800-600: linear-gradient(
    45deg,
    var(--primary-800) 16.72%,
    var(--primary-600) 83.39%
  );
  --primary-gradient-90deg-800-600: linear-gradient(
    63.44deg,
    var(--primary-800) 16.72%,
    var(--primary-600) 83.39%
  );
  --primary-gradient-800-700: linear-gradient(
    26.57deg,
    var(--primary-800) 8.33%,
    var(--primary-700) 91.67%
  );
  --primary-gradient-900-600: linear-gradient(
    45deg,
    var(--primary-800) 0%,
    var(--primary-600) 100%
  );
  --mesh-gradient-01: url('../images/gradients/mesh-gradients/mesh-gradient-01.svg');
  --mesh-gradient-02: url('../images/gradients/mesh-gradients/mesh-gradient-02.svg');
  --mesh-gradient-03: url('../images/gradients/mesh-gradients/mesh-gradient-03.svg');
  --mesh-gradient-04: url('../images/gradients/mesh-gradients/mesh-gradient-04.svg');
  --mesh-gradient-05: url('../images/gradients/mesh-gradients/mesh-gradient-05.svg');
  --mesh-gradient-06: url('../images/gradients/mesh-gradients/mesh-gradient-06.svg');
  --mesh-gradient-07: url('../images/gradients/mesh-gradients/mesh-gradient-07.svg');
  --mesh-gradient-08: url('../images/gradients/mesh-gradients/mesh-gradient-08.svg');
  --mesh-gradient-09: url('../images/gradients/mesh-gradients/mesh-gradient-09.svg');
  --mesh-gradient-10: url('../images/gradients/mesh-gradients/mesh-gradient-10.svg');
  --mesh-gradient-11: url('../images/gradients/mesh-gradients/mesh-gradient-11.svg');
  --mesh-gradient-12: url('../images/gradients/mesh-gradients/mesh-gradient-12.svg');
  --mesh-gradient-13: url('../images/gradients/mesh-gradients/mesh-gradient-13.svg');
  --mesh-gradient-14: url('../images/gradients/mesh-gradients/mesh-gradient-14.svg');
  --mesh-gradient-15: url('../images/gradients/mesh-gradients/mesh-gradient-15.svg');
  --mesh-gradient-16: url('../images/gradients/mesh-gradients/mesh-gradient-16.svg');
  --mesh-gradient-17: url('../images/gradients/mesh-gradients/mesh-gradient-17.svg');
  --mesh-gradient-18: url('../images/gradients/mesh-gradients/mesh-gradient-18.svg');
  --mesh-gradient-19: url('../images/gradients/mesh-gradients/mesh-gradient-19.svg');
  --mesh-gradient-20: url('../images/gradients/mesh-gradients/mesh-gradient-20.svg');
  --mesh-gradient-21: url('../images/gradients/mesh-gradients/mesh-gradient-21.svg');
  --mesh-gradient-22: url('../images/gradients/mesh-gradients/mesh-gradient-22.svg');
  --mesh-gradient-23: url('../images/gradients/mesh-gradients/mesh-gradient-23.svg');
  --mesh-gradient-24: url('../images/gradients/mesh-gradients/mesh-gradient-24.svg');
  --mesh-gradient-25: url('../images/gradients/mesh-gradients/mesh-gradient-25.svg');
  --mesh-gradient-26: url('../images/gradients/mesh-gradients/mesh-gradient-26.svg');
  --mesh-gradient-27: url('../images/gradients/mesh-gradients/mesh-gradient-27.svg');
  --mesh-gradient-28: url('../images/gradients/mesh-gradients/mesh-gradient-28.svg');
}
.container-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 160px;
  height: 156px;

  /* Base/White */

  background: #ffffff;
  /* Shadow/lg */

  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 8px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
}
.color-container {
  font-family: 'Lato', sans-serif;
  font-style: normal;
}
.text-title {
  font-family: 'Lato', sans-serif;
  font-style: normal;
}
.color-block {
  width: 160px;
  height: 80px;
}

.text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 12px 12px;
  width: 160px;
  height: 64px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.text-number {
  width: 136px;
  height: 28px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.text-hex {
  width: 136px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-600);
}

.container-block-gradient {
  width: 280px;
  height: 204px;
}
.color-block-gradient {
  width: 280px;
  height: 128px;
}
.text-block-gradient {
  width: 280px;
  height: 64px;
}
.text-number-gradient {
  width: 256px;
}
.text-hex-gradient {
  width: 256px;
}

/* gray */
.color-gray-100 {
  color: var(--gray-100);
}
.color-gray-500 {
  color: var(--gray-500);
}
.color-gray-600 {
  color: var(--gray-600);
}
.color-gray-700 {
  color: var(--gray-700);
}
.color-gray-800 {
  color: var(--gray-800);
}
.color-gray-900 {
  color: var(--gray-900);
}

/* primary */
.color-primary-100 {
  color: var(--primary-100);
}
.color-primary-600 {
  color: var(--primary-600);
}
.color-primary-700 {
  color: var(--primary-700);
}

/* warining */
.color-warning-600 {
  color: var(--warning-600);
}
.color-warning-700 {
  color: var(--warning-700);
}

/* error */
.color-error-600 {
  color: var(--error-600);
}
.color-error-700 {
  color: var(--error-700);
}

/* success */
.color-success-600 {
  color: var(--success-600);
}
.color-success-700 {
  color: var(--success-700);
}

.color-base-white {
  color: var(--base-white);
}
