.block-spacing{
    background: rgba(158, 119, 237, 0.1);
}
.x-axis-4px{
    width: 4px;
    height: 20px;
}
.x-axis-8px{
    width: 8px;
    height: 20px;
}
.x-axis-12px{
    width: 12px;
    height: 20px;
}
.x-axis-16px{
    width: 16px;
    height: 20px;
}
.x-axis-20px{
    width: 20px;
    height: 20px;
}
.x-axis-24px{
    width: 24px;
    height: 20px;
}
.x-axis-32px{
    width: 32px;
    height: 20px;
}
.x-axis-40px{
    width: 40px;
    height: 20px;
}
.x-axis-48px{
    width: 48px;
    height: 20px;
}
.x-axis-64px{
    width: 64px;
    height: 20px;
}
.x-axis-80px{
    width: 80px;
    height: 20px;
}
.x-axis-96px{
    width: 96px;
    height: 20px;
}
.x-axis-128px{
    width: 128px;
    height: 20px;
}
.x-axis-160px{
    width: 160px;
    height: 20px;
}
.x-axis-192px{
    width: 192px;
    height: 20px;
}
.x-axis-224px{
    width: 224px;
    height: 20px;
}
.x-axis-256px{
    width: 256px;
    height: 20px;
}
.y-axis-4px{
    height: 4px;
    width: 20px;
}
.y-axis-8px{
    height: 8px;
    width: 20px;
}
.y-axis-12px{
    height: 12px;
    width: 20px;
}
.y-axis-16px{
    height: 16px;
    width: 20px;
}
.y-axis-20px{
    height: 20px;
    width: 20px;
}
.y-axis-24px{
    height: 24px;
    width: 20px;
}
.y-axis-32px{
    height: 32px;
    width: 20px;
}
.y-axis-40px{
    height: 40px;
    width: 20px;
}
.y-axis-48px{
    height: 48px;
    width: 20px;
}
.y-axis-64px{
    height: 64px;
    width: 20px;
}
.y-axis-80px{
    height: 80px;
    width: 20px;
}
.y-axis-96px{
    height: 96px;
    width: 20px;
}
.y-axis-128px{
    height: 128px;
    width: 20px;
}
.y-axis-160px{
    height: 160px;
    width: 20px;
}
.y-axis-192px{
    height: 192px;
    width: 20px;
}
.y-axis-224px{
    height: 224px;
    width: 20px;
}
.y-axis-256px{
    height: 256px;
    width: 20px;
}
