.icon-calendar-date-primary-600 {
  content: url(../../assets/icons/misc-icons/miscellaneous-icons/calendar-date-primary-600.svg);
}

.icon-file-06-primary-600 {
  content: url(../../assets/icons/misc-icons/miscellaneous-icons/file-06-primary-600.svg);
}

.icon-users-01-primary-600 {
  content: url(../../assets/icons/misc-icons/miscellaneous-icons/users-01-primary-600.svg);
}

.icon-image-01-gray-500 {
  content: url(../../assets/icons/misc-icons/miscellaneous-icons/image-01-gray-500.svg);
}
