.page-header-style--simple-breakpoint--desktop,
.page-header-style--avatar-breakpoint--desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  max-width: 1216px;
}

.page-header-style--simple-breakpoint--mobile,
.page-header-style--avatar-breakpoint--mobile,
.page-header-style--banner-avatar-breakpoint--mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  max-width: 375px;
  position: relative;
}

.page-header-style--banner-avatar-breakpoint--desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 100%;
}

.content-page-header-style--simple-breakpoint--desktop,
.content-page-header-style--avatar-breakpoint--desktop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 100%;
}

.content-page-header-style--simple-breakpoint--mobile,
.content-page-header-style--avatar-breakpoint--mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.divider-page-header-breakpoint--desktop {
  width: 100%;
  height: 1px;
  background: var(--gray-200);
}

.divider-page-header-breakpoint--mobile {
  width: 375px;
  height: 1px;
  background: var(--gray-200);
}

.divider-page-header-style--banner-avatar {
  width: 100%;
  height: 1px;
  background: var(--gray-200);
}

.text-and-supportText-page-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

.text-page-header-breakpoint--desktop {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: var(--gray-900);
  width: 100%;
}

.text-page-header-breakpoint--mobile {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--gray-900);
  width: 100%;
}

.supportText-page-header {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-600);
}

.action-page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  /* width: 404px; */
  height: 40px;
}

.avatar-page-header-breakpoint--desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 460px;
}

.avatar-page-header-breakpoint--mobile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  /* height: 60px; */
}

.container-image-wrapper-page-header-breakpoint--desktop {
  width: 100%;
  height: 240px;
  margin: -40px 0px;
}

.container-image-wrapper-page-header-breakpoint--mobile {
  width: 100%;
  height: 160px;
  margin: -48px 0px;
}

.image-wrapper-page-header {
  height: 100%;
  background: var(--mesh-gradient-01);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-page-header-breakpoint--desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 32px;
  gap: 24px;

  /* width: 1280px;
  height: 203px; */
}

.container-page-header-breakpoint--mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 16px;
  width: 100%;

  /* width: 1280px;
    height: 203px; */
}

.avatar-and-content-page-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  /* width: 1216px;
  height: 178px; */
}

.content-page-header-style--banner-avatar-breakpoint--desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 0px 0px;
  gap: 20px;
}

.content-page-header-style--banner-avatar-breakpoint--mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  isolation: isolate;
}

.heading-page-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.image-and-header-page-headers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
}

.button-style--banner-avatar {
  position: absolute;
  top: 145px;
  right: 15px;
}

.card-header-avatar--false-badge--true-accentLine--false-breakpoint--desktop,
.card-header-avatar--true-badge--true-accentLine--false-breakpoint--desktop,
.card-header-avatar--false-badge--true-accentLine--true-breakpoint--desktop,
.card-header-avatar--true-badge--true-accentLine--true-breakpoint--desktop,
.card-header-avatar--false-badge--false-accentLine--false-breakpoint--desktop,
.card-header-avatar--true-badge--false-accentLine--false-breakpoint--desktop,
.card-header-avatar--false-badge--false-accentLine--true-breakpoint--desktop,
.card-header-avatar--true-badge--false-accentLine--true-breakpoint--desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  background: var(--base-white);
  width: 100%;
}

.card-header-avatar--false-badge--true-accentLine--false-breakpoint--mobile,
.card-header-avatar--true-badge--true-accentLine--false-breakpoint--mobile,
.card-header-avatar--false-badge--true-accentLine--true-breakpoint--mobile,
.card-header-avatar--true-badge--true-accentLine--true-breakpoint--mobile,
.card-header-avatar--false-badge--false-accentLine--false-breakpoint--mobile,
.card-header-avatar--true-badge--false-accentLine--false-breakpoint--mobile,
.card-header-avatar--false-badge--false-accentLine--true-breakpoint--mobile,
.card-header-avatar--true-badge--false-accentLine--true-breakpoint--mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  background: var(--base-white);
  max-width: 375px;
  position: relative;
}

.content-card-header-avatar--false-badge--true-accentLine--false-breakpoint--desktop,
.content-card-header-avatar--true-badge--true-accentLine--false-breakpoint--desktop,
.content-card-header-avatar--false-badge--false-accentLine--false-breakpoint--desktop,
.content-card-header-avatar--true-badge--false-accentLine--false-breakpoint--desktop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 24px 0px;
  gap: 16px;
  width: 100%;
}

.content-card-header-avatar--false-badge--true-accentLine--false-breakpoint--mobile,
.content-card-header-avatar--true-badge--true-accentLine--false-breakpoint--mobile,
.content-card-header-avatar--false-badge--false-accentLine--false-breakpoint--mobile,
.content-card-header-avatar--true-badge--false-accentLine--false-breakpoint--mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 16px 0px;
  gap: 16px;
  isolation: isolate;
}

.content-card-header-avatar--false-badge--true-accentLine--true-breakpoint--desktop,
.content-card-header-avatar--true-badge--true-accentLine--true-breakpoint--desktop,
.content-card-header-avatar--false-badge--false-accentLine--true-breakpoint--desktop,
.content-card-header-avatar--true-badge--false-accentLine--true-breakpoint--desktop {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 28px 24px 0px;
  gap: 16px;
}

.content-card-header-avatar--false-badge--true-accentLine--true-breakpoint--desktop::before,
.content-card-header-avatar--true-badge--true-accentLine--true-breakpoint--desktop::before,
.content-card-header-avatar--false-badge--false-accentLine--true-breakpoint--desktop::before,
.content-card-header-avatar--true-badge--false-accentLine--true-breakpoint--desktop::before,
.content-card-header-avatar--false-badge--true-accentLine--true-breakpoint--mobile::before,
.content-card-header-avatar--true-badge--true-accentLine--true-breakpoint--mobile::before,
.content-card-header-avatar--false-badge--false-accentLine--true-breakpoint--mobile::before,
.content-card-header-avatar--true-badge--false-accentLine--true-breakpoint--mobile::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: linear-gradient(var(--primary-600), var(--primary-700));
}

.content-card-header-avatar--false-badge--true-accentLine--true-breakpoint--mobile,
.content-card-header-avatar--true-badge--true-accentLine--true-breakpoint--mobile,
.content-card-header-avatar--false-badge--false-accentLine--true-breakpoint--mobile,
.content-card-header-avatar--true-badge--false-accentLine--true-breakpoint--mobile {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px 16px 0px;
  gap: 16px;
}

.text-and-support-text-card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

.text-and-badge-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.text-card-header {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--gray-900);
}

.support-text-card-header {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-600);
}

.card-header-dropdown-breakpoint--mobile {
  position: absolute;
  right: 16px;
  top: 20px;
}

.avatar-and-text-card-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.text-and-support-text-card-header-avatar--true {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.section-header-tabs--false-type--buttons-breakpoint--desktop,
.section-header-tabs--false-type--searchAndactions-breakpoint--desktop,
.section-header-tabs--false-type--button-group-breakpoint--desktop,
.section-header-tabs--true-type--buttons-breakpoint--desktop,
.section-header-tabs--true-type--searchAndactions-breakpoint--desktop,
.section-header-tabs--true-type--button-group-breakpoint--desktop,
.section-header-tabs--false-type--buttons-breakpoint--mobile,
.section-header-tabs--false-type--button-group-breakpoint--mobile,
.section-header-tabs--false-type--search-breakpoint--mobile,
.section-header-tabs--true-type--buttons-breakpoint--mobile,
.section-header-tabs--true-type--search-breakpoint--mobile,
.section-header-tabs--true-type--button-group-breakpoint--mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.content-section-header-tabs--false-type--buttons-breakpoint--desktop,
.content-section-header-tabs--false-type--searchAndactions-breakpoint--desktop,
.content-section-header-tabs--false-type--button-group-breakpoint--desktop,
.content-section-header-tabs--true-type--buttons-breakpoint--desktop,
.content-section-header-tabs--true-type--searchAndactions-breakpoint--desktop,
.content-section-header-tabs--true-type--button-group-breakpoint--desktop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.content-section-header-tabs--false-type--buttons-breakpoint--mobile,
.content-section-header-tabs--false-type--button-group-breakpoint--mobile,
.content-section-header-tabs--false-type--search-breakpoint--mobile,
.content-section-header-tabs--true-type--buttons-breakpoint--mobile,
.content-section-header-tabs--true-type--search-breakpoint--mobile,
.content-section-header-tabs--true-type--button-group-breakpoint--mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  max-width: 343px;
  position: relative;
}

.dropdown-section-header-breakpoint--mobile {
  position: absolute;
  top: 0;
  right: 0;
}
