/* Regular */

.text-sm-regular {
  font-style: normal;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.text-md-regular {
  font-style: normal;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* Medium */

.text-xs-medium {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.text-sm-medium {
  font-style: normal;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.text-lg-medium {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

/* Semibold */

.text-sm-semibold {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.text-md-semibold {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.text-lg-semibold {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.text-xl-semibold {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
