
.base-button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif !important;
    font-style: normal;
}
.button-icon-default-size--sm{
    padding: 8px 13px;
    gap: 8px;
    width: 157px;
    height: 36px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
}
.button-icon-default-size--md {
    padding: 10px 15px;
    gap: 8px;
    width: 161px;
    height: 40px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
}
.button-icon-default-size--lg {
    padding: 10px 17px;
    gap: 8px;
    width: 175px;
    height: 44px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
}
.button-icon-default-size--xl {
    padding: 12px 19px;
    gap: 8px;
    width: 179px;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
}

.button-icon-default-size--2xl {
    padding: 16px 27px;
    gap: 12px;
    width: 221px;
    height: 60px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-size: 18px;
    line-height: 28px;
}


.button-icon-dotLeading-size--sm{
    padding: 8px 13px;
    gap: 8px;
    width: 119px;
    height: 36px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
}
.button-icon-dotLeading-size--md {
    padding: 10px 15px;
    gap: 8px;
    width: 123px;
    height: 40px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
}
.button-icon-dotLeading-size--lg {
    padding: 10px 17px;
    gap: 8px;
    width: 137px;
    height: 44px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
}
.button-icon-dotLeading-size--xl {
    padding: 12px 19px;
    gap: 8px;
    width: 141px;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
}

.button-icon-dotLeading-size--2xl {
    padding: 16px 28px;
    gap: 12px;
    width: 171px;
    height: 60px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-size: 18px;
    line-height: 28px;
}

.button-primary-icon-default-destructive-false-state--default{
    background: #E83C70;
    color: #FFFFFF;
    border: 1px solid #E83C70;
}
.button-primary-icon-default-destructive-false-state--hover{
    background: #D6396C;
    color: #FFFFFF;
    border: 1px solid #D6396C;
}
.button-primary-icon-default-destructive-false-state--focused{
    background: #E83C70;
    color: #FFFFFF;
    border: none;
    border: 1px solid #E83C70;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FBE6ED;
}
.button-primary-icon-default-destructive-false-state--disabled{
    background: #F6BFD4;
    color: #FFFFFF;
    border: 1px solid #F6BFD4;
}


.button-secondaryGray-icon-default-destructive-false-state--default{
    background: #FFFFFF;
    color: #344054;
    border: 1px solid #D0D5DD;
    
}
.button-secondaryGray-icon-default-destructive-false-state--hover{
    background: #F9FAFB;
    color: #1D2939;
    border: 1px solid #D0D5DD;
}
.button-secondaryGray-icon-default-destructive-false-state--focused{
    background: #FFFFFF;
    color: #344054;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #F2F4F7;
}
.button-secondaryGray-icon-default-destructive-false-state--disabled{
    background: #FFFFFF;
    color: #D0D5DD;
    border: 1px solid #D0D5DD;
}
.button-secondaryColor-icon-default-destructive-false-state--default{
    background: #FFF0F5;
    color: #D6396C;
    border: 1px solid #FFF0F5;
}
.button-secondaryColor-icon-default-destructive-false-state--hover{
    background: #FBE6ED;
    border: 1px solid #FBE6ED;
    color: #C03466;
}
.button-secondaryColor-icon-default-destructive-false-state--focused{
    background: #FFF0F5;
    border: 1px solid #FFF0F5;
    color: #D6396C;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FBE6ED;
}
.button-secondaryColor-icon-default-destructive-false-state--disabled{
    background: #FFF5F9;
    border: 1px solid #FFF5F9;
    color: #F296B7;
}

.button-tertiaryGray-icon-default-destructive-false-state--default{
    background: #FFFFFF;
    border: none;
    color: #475467;
}
.button-tertiaryGray-icon-default-destructive-false-state--hover{
    background: #F9FAFB;
    border: none;
    color: #344054;
}
.button-tertiaryGray-icon-default-destructive-false-state--focused{
    background: #FFFFFF;
    border: none;
    color: #475467;
}
.button-tertiaryGray-icon-default-destructive-false-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #D0D5DD;
}


.button-tertiaryColor-icon-default-destructive-false-state--default{
    background: #FFFFFF;
    border: none;
    color: #D6396C;
}
.button-tertiaryColor-icon-default-destructive-false-state--hover{
    background: #FFF0F5;
    border: none;
    color: #C03466;
}
.button-tertiaryColor-icon-default-destructive-false-state--focused{
    background: #FFFFFF;
    border: none;
    color: #D6396C;
}
.button-tertiaryColor-icon-default-destructive-false-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #D0D5DD;
}


.button-linkGray-icon-default-destructive-false-state--default{
    background: #FFFFFF;
    border: none;
    color: #475467;
}
.button-linkGray-icon-default-destructive-false-state--hover{
    background: #FFFFFF;
    border: none;
    color: #344054;
}
.button-linkGray-icon-default-destructive-false-state--focused{
    background: #FFFFFF;
    border: none;
    color: #475467;
}
.button-linkGray-icon-default-destructive-false-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #D0D5DD;
}




.button-linkColor-icon-default-destructive-false-state--default{
    background: #FFFFFF;
    border: none;
    color: #D6396C;
}
.button-linkColor-icon-default-destructive-false-state--hover{
    background: #FFFFFF;
    border: none;
    color: #C03466;
}
.button-linkColor-icon-default-destructive-false-state--focused{
    background: #FFFFFF;
    border: none;
    color: #D6396C;;
}
.button-linkColor-icon-default-destructive-false-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #D0D5DD;
}


.button-primary-icon-default-destructive-true-state--default{
    background: #D92D20;
    border: 1px solid #D92D20;
    color: #FFFFFF;
}
.button-primary-icon-default-destructive-true-state--hover{
    background: #B42318;
    border: 1px solid #B42318;
    color: #FFFFFF;
}
.button-primary-icon-default-destructive-true-state--focused{
    background: #D92D20;
    border: 1px solid #D92D20;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FEE4E2;
    color: #FFFFFF;
}
.button-primary-icon-default-destructive-true-state--disabled{
    background: #FECDCA;
    border: 1px solid #FECDCA;
    color: #FFFFFF;
}


.button-secondaryGray-icon-default-destructive-true-state--default{
    background: #FFFFFF;
    border: 1px solid #FDA29B;
    color: #B42318;
}
.button-secondaryGray-icon-default-destructive-true-state--hover{
    background: #FEF3F2;
    border: 1px solid #FDA29B;
    color: #912018;
}
.button-secondaryGray-icon-default-destructive-true-state--focused{
    background: #FFFFFF;
    border: 1px solid #FDA29B;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FEE4E2;
    color: #B42318;
}
.button-secondaryGray-icon-default-destructive-true-state--disabled{
    background: #FFFFFF;
    border: 1px solid #FECDCA;
    color: #FDA29B;
}

.button-secondaryColor-icon-default-destructive-true-state--default{
    background: #FEF3F2;
    /* Error/50 */
    
    border: 1px solid #FEF3F2;
    color: #B42318;
}
.button-secondaryColor-icon-default-destructive-true-state--hover{
    background: #FEE4E2;
/* Error/100 */

    border: 1px solid #FEE4E2;
    color: #912018;
}
.button-secondaryColor-icon-default-destructive-true-state--focused{
    background: #FEF3F2;
    /* Error/50 */
    
    border: 1px solid #FEF3F2;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FEE4E2;
    color: #B42318;
}
.button-secondaryColor-icon-default-destructive-true-state--disabled{
    background: #FFFBFA;
/* Error/25 */

    border: 1px solid #FFFBFA;
    color: #FDA29B;
}




.button-tertiaryGray-icon-default-destructive-true-state--default{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-tertiaryGray-icon-default-destructive-true-state--hover{
    background: #FEF3F2;
    border: none;
    color: #912018;
}
.button-tertiaryGray-icon-default-destructive-true-state--focused{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-tertiaryGray-icon-default-destructive-true-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #FDA29B;
}

.button-tertiaryGray-icon-default-destructive-true-state--default{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-tertiaryGray-icon-default-destructive-true-state--hover{
    background: #FEF3F2;
    border: none;
    color: #912018;
}
.button-tertiaryGray-icon-default-destructive-true-state--focused{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-tertiaryGray-icon-default-destructive-true-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #FDA29B;
}


.button-tertiaryColor-icon-default-destructive-true-state--default{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-tertiaryColor-icon-default-destructive-true-state--hover{
    background: #FEF3F2;
    border: none;
    color: #912018;
}
.button-tertiaryColor-icon-default-destructive-true-state--focused{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-tertiaryColor-icon-default-destructive-true-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #FDA29B;
}

.button-tertiaryColor-icon-default-destructive-true-state--default{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-tertiaryColor-icon-default-destructive-true-state--hover{
    background: #FEF3F2;
    border: none;
    color: #912018;
}
.button-tertiaryColor-icon-default-destructive-true-state--focused{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-tertiaryColor-icon-default-destructive-true-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #FDA29B;
}

.button-linkGray-icon-default-destructive-true-state--default{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-linkGray-icon-default-destructive-true-state--hover{
    background: #FFFFFF;
    border: none;
    color: #912018;
}
.button-linkGray-icon-default-destructive-true-state--focused{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-linkGray-icon-default-destructive-true-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #FDA29B;
}

.button-linkColor-icon-default-destructive-true-state--default{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-linkColor-icon-default-destructive-true-state--hover{
    background: #FFFFFF;
    border: none;
    color: #912018;
}
.button-linkColor-icon-default-destructive-true-state--focused{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-linkColor-icon-default-destructive-true-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #FDA29B;
}


/// Icon dotLeading
.button-primary-icon-dotLeading-destructive-false-state--default{
    background: #E83C70;
    color: #FFFFFF;
    border: 1px solid #E83C70;
}
.button-primary-icon-dotLeading-destructive-false-state--hover{
    background: #D6396C;
    color: #FFFFFF;
    border: 1px solid #D6396C;
}
.button-primary-icon-dotLeading-destructive-false-state--focused{
    background: #E83C70;
    color: #FFFFFF;
    border: none;
    border: 1px solid #E83C70;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FBE6ED;
}
.button-primary-icon-dotLeading-destructive-false-state--disabled{
    background: #F6BFD4;
    color: #FFFFFF;
    border: 1px solid #F6BFD4;
}


.button-secondaryGray-icon-dotLeading-destructive-false-state--default{
    background: #FFFFFF;
    color: #344054;
    border: 1px solid #D0D5DD;
    
}
.button-secondaryGray-icon-dotLeading-destructive-false-state--hover{
    background: #F9FAFB;
    color: #1D2939;
    border: 1px solid #D0D5DD;
}
.button-secondaryGray-icon-dotLeading-destructive-false-state--focused{
    background: #FFFFFF;
    color: #344054;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #F2F4F7;
}
.button-secondaryGray-icon-dotLeading-destructive-false-state--disabled{
    background: #FFFFFF;
    color: #D0D5DD;
    border: 1px solid #D0D5DD;
}
.button-secondaryColor-icon-dotLeading-destructive-false-state--default{
    background: #FFF0F5;
    color: #D6396C;
    border: 1px solid #FFF0F5;
}
.button-secondaryColor-icon-dotLeading-destructive-false-state--hover{
    background: #FBE6ED;
    border: 1px solid #FBE6ED;
    color: #C03466;
}
.button-secondaryColor-icon-dotLeading-destructive-false-state--focused{
    background: #FFF0F5;
    border: 1px solid #FFF0F5;
    color: #D6396C;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FBE6ED;
}
.button-secondaryColor-icon-dotLeading-destructive-false-state--disabled{
    background: #FFF5F9;
    border: 1px solid #FFF5F9;
    color: #F296B7;
}

.button-tertiaryGray-icon-dotLeading-destructive-false-state--default{
    background: #FFFFFF;
    border: none;
    color: #475467;
}
.button-tertiaryGray-icon-dotLeading-destructive-false-state--hover{
    background: #F9FAFB;
    border: none;
    color: #344054;
}
.button-tertiaryGray-icon-dotLeading-destructive-false-state--focused{
    background: #FFFFFF;
    border: none;
    color: #475467;
}
.button-tertiaryGray-icon-dotLeading-destructive-false-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #D0D5DD;
}


.button-tertiaryColor-icon-dotLeading-destructive-false-state--default{
    background: #FFFFFF;
    border: none;
    color: #D6396C;
}
.button-tertiaryColor-icon-dotLeading-destructive-false-state--hover{
    background: #FFF0F5;
    border: none;
    color: #C03466;
}
.button-tertiaryColor-icon-dotLeading-destructive-false-state--focused{
    background: #FFFFFF;
    border: none;
    color: #D6396C;
}
.button-tertiaryColor-icon-dotLeading-destructive-false-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #D0D5DD;
}


.button-linkGray-icon-dotLeading-destructive-false-state--default{
    background: #FFFFFF;
    border: none;
    color: #475467;
}
.button-linkGray-icon-dotLeading-destructive-false-state--hover{
    background: #FFFFFF;
    border: none;
    color: #344054;
}
.button-linkGray-icon-dotLeading-destructive-false-state--focused{
    background: #FFFFFF;
    border: none;
    color: #475467;
}
.button-linkGray-icon-dotLeading-destructive-false-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #D0D5DD;
}




.button-linkColor-icon-dotLeading-destructive-false-state--default{
    background: #FFFFFF;
    border: none;
    color: #D6396C;
}
.button-linkColor-icon-dotLeading-destructive-false-state--hover{
    background: #FFFFFF;
    border: none;
    color: #C03466;
}
.button-linkColor-icon-dotLeading-destructive-false-state--focused{
    background: #FFFFFF;
    border: none;
    color: #D6396C;;
}
.button-linkColor-icon-dotLeading-destructive-false-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #D0D5DD;
}


.button-primary-icon-dotLeading-destructive-true-state--default{
    background: #D92D20;
    border: 1px solid #D92D20;
    color: #FFFFFF;
}
.button-primary-icon-dotLeading-destructive-true-state--hover{
    background: #B42318;
    border: 1px solid #B42318;
    color: #FFFFFF;
}
.button-primary-icon-dotLeading-destructive-true-state--focused{
    background: #D92D20;
    border: 1px solid #D92D20;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FEE4E2;
    color: #FFFFFF;
}
.button-primary-icon-dotLeading-destructive-true-state--disabled{
    background: #FECDCA;
    border: 1px solid #FECDCA;
    color: #FFFFFF;
}


.button-secondaryGray-icon-dotLeading-destructive-true-state--default{
    background: #FFFFFF;
    border: 1px solid #FDA29B;
    color: #B42318;
}
.button-secondaryGray-icon-dotLeading-destructive-true-state--hover{
    background: #FEF3F2;
    border: 1px solid #FDA29B;
    color: #912018;
}
.button-secondaryGray-icon-dotLeading-destructive-true-state--focused{
    background: #FFFFFF;
    border: 1px solid #FDA29B;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FEE4E2;
    color: #B42318;
}
.button-secondaryGray-icon-dotLeading-destructive-true-state--disabled{
    background: #FFFFFF;
    border: 1px solid #FECDCA;
    color: #FDA29B;
}

.button-secondaryColor-icon-dotLeading-destructive-true-state--default{
    background: #FEF3F2;
    /* Error/50 */
    
    border: 1px solid #FEF3F2;
    color: #B42318;
}
.button-secondaryColor-icon-dotLeading-destructive-true-state--hover{
    background: #FEE4E2;
/* Error/100 */

    border: 1px solid #FEE4E2;
    color: #912018;
}
.button-secondaryColor-icon-dotLeading-destructive-true-state--focused{
    background: #FEF3F2;
    /* Error/50 */
    
    border: 1px solid #FEF3F2;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FEE4E2;
    color: #B42318;
}
.button-secondaryColor-icon-dotLeading-destructive-true-state--disabled{
    background: #FFFBFA;
/* Error/25 */

    border: 1px solid #FFFBFA;
    color: #FDA29B;
}




.button-tertiaryGray-icon-dotLeading-destructive-true-state--default{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-tertiaryGray-icon-dotLeading-destructive-true-state--hover{
    background: #FEF3F2;
    border: none;
    color: #912018;
}
.button-tertiaryGray-icon-dotLeading-destructive-true-state--focused{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-tertiaryGray-icon-dotLeading-destructive-true-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #FDA29B;
}

.button-tertiaryGray-icon-dotLeading-destructive-true-state--default{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-tertiaryGray-icon-dotLeading-destructive-true-state--hover{
    background: #FEF3F2;
    border: none;
    color: #912018;
}
.button-tertiaryGray-icon-dotLeading-destructive-true-state--focused{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-tertiaryGray-icon-dotLeading-destructive-true-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #FDA29B;
}


.button-tertiaryColor-icon-dotLeading-destructive-true-state--default{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-tertiaryColor-icon-dotLeading-destructive-true-state--hover{
    background: #FEF3F2;
    border: none;
    color: #912018;
}
.button-tertiaryColor-icon-dotLeading-destructive-true-state--focused{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-tertiaryColor-icon-dotLeading-destructive-true-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #FDA29B;
}

.button-tertiaryColor-icon-dotLeading-destructive-true-state--default{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-tertiaryColor-icon-dotLeading-destructive-true-state--hover{
    background: #FEF3F2;
    border: none;
    color: #912018;
}
.button-tertiaryColor-icon-dotLeading-destructive-true-state--focused{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-tertiaryColor-icon-dotLeading-destructive-true-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #FDA29B;
}

.button-linkGray-icon-dotLeading-destructive-true-state--default{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-linkGray-icon-dotLeading-destructive-true-state--hover{
    background: #FFFFFF;
    border: none;
    color: #912018;
}
.button-linkGray-icon-dotLeading-destructive-true-state--focused{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-linkGray-icon-dotLeading-destructive-true-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #FDA29B;
}

.button-linkColor-icon-dotLeading-destructive-true-state--default{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-linkColor-icon-dotLeading-destructive-true-state--hover{
    background: #FFFFFF;
    border: none;
    color: #912018;
}
.button-linkColor-icon-dotLeading-destructive-true-state--focused{
    background: #FFFFFF;
    border: none;
    color: #B42318;
}
.button-linkColor-icon-dotLeading-destructive-true-state--disabled{
    background: #FFFFFF;
    border: none;
    color: #FDA29B;
}



.sm-primary-default {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 8px;

    width: 157px;
    height: 36px;


    background: #E83C70;

    border: 1px solid #E83C70;
    color: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.md-primary-default {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;

    width: 161px;
    height: 40px;


    background: #E83C70;

    border: 1px solid #E83C70;
    color: #FFFFFF;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.lg-primary-default {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;

    width: 175px;
    height: 44px;


    background: #E83C70;

    border: 1px solid #E83C70;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.xl-primary-default {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;

    width: 179px;
    height: 48px;

    

    background: #E83C70;

    border: 1px solid #E83C70;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
._2xl-primary-default {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 28px;
    gap: 12px;

    width: 221px;
    height: 60px;

    

    background: #E83C70;

    border: 1px solid #E83C70;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

//////
.sm-primary-default-hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 8px;

    width: 157px;
    height: 36px;


    background: --var(--primary-700);

    border: 1px solid --var(--primary-700);

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.md-primary-default-hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;

    width: 161px;
    height: 40px;


    background: --var(--primary-700);

    border: 1px solid --var(--primary-700);

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.lg-primary-default-hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;

    width: 175px;
    height: 44px;


    background: --var(--primary-700);

    border: 1px solid --var(--primary-700);

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.xl-primary-default-hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;

    width: 179px;
    height: 48px;

    

    background: --var(--primary-700);

    border: 1px solid --var(--primary-700);

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
._2xl-primary-default-hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 28px;
    gap: 12px;

    width: 221px;
    height: 60px;

    

    background: --var(--primary-700);

    border: 1px solid --var(--primary-700);

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
//////
.sm-primary-default-focused {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 8px;

    width: 157px;
    height: 36px;


    background: #E83C70;

    border: 1px solid #E83C70;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FBE6ED;
    border-radius: 8px;
}
.md-primary-default-focused {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;

    width: 161px;
    height: 40px;


    background: #E83C70;

    border: 1px solid #E83C70;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FBE6ED;
    border-radius: 8px;
}
.lg-primary-default-focused {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;

    width: 175px;
    height: 44px;


    background: #E83C70;

    border: 1px solid #E83C70;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FBE6ED;
    border-radius: 8px;
}
.xl-primary-default-focused {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;

    width: 179px;
    height: 48px;

    

    background: #E83C70;

    border: 1px solid #E83C70;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FBE6ED;
    border-radius: 8px;
}
._2xl-primary-default-focused {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 28px;
    gap: 12px;

    width: 221px;
    height: 60px;

    

    background: #E83C70;

    border: 1px solid #E83C70;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FBE6ED;
    border-radius: 8px;
}
////
.sm-primary-default-disabled {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 8px;

    width: 157px;
    height: 36px;


    background: #E83C70;

    border: 1px solid #E83C70;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.md-primary-default-disabled {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;

    width: 161px;
    height: 40px;


    background: #E83C70;

    border: 1px solid #E83C70;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.lg-primary-default-disabled {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;

    width: 175px;
    height: 44px;


    background: #E83C70;

    border: 1px solid #E83C70;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.xl-primary-default-disabled {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;

    width: 179px;
    height: 48px;

    

    background: #E83C70;

    border: 1px solid #E83C70;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
._2xl-primary-default-disabled {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 28px;
    gap: 12px;

    width: 221px;
    height: 60px;

    

    background: --var(--primary-200);

    border: 1px solid --var(--primary-200);

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
///////
.sm-secondarygray-default{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 8px;

    width: 157px;
    height: 36px;


    /* Base/White */

    background: --var(--base-white-color);
    /* Gray/300 */

    border: 1px solid --var(--gray-300);;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.md-secondarygray-default{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 161px;
    height: 40px;


    /* Base/White */

    background: --var(--base-white-color);
    /* Gray/300 */

    border: 1px solid --var(--gray-300);;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.lg-secondarygray-default{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 18px;
    gap: 8px;

    width: 175px;
    height: 44px;


    /* Base/White */

    background: --var(--base-white-color);
    /* Gray/300 */

    border: 1px solid --var(--gray-300);;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.xl-secondarygray-default{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;

    width: 179px;
    height: 48px;


    /* Base/White */

    background: --var(--base-white-color);
    /* Gray/300 */

    border: 1px solid --var(--gray-300);;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
._2xl-secondarygray-default{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 28px;
    gap: 12px;

    width: 221px;
    height: 60px;


    /* Base/White */

    background: --var(--base-white-color);
    /* Gray/300 */

    border: 1px solid --var(--gray-300);;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
///////
.sm-secondarygray-default-hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 8px;

    width: 157px;
    height: 36px;


    /* Base/White */

    background: --var(--gray-50);
    /* Gray/300 */

    border: 1px solid --var(--gray-300);;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.md-secondarygray-default-hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 161px;
    height: 40px;


    /* Base/White */

    background: --var(--gray-50);
    /* Gray/300 */

    border: 1px solid --var(--gray-300);;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.lg-secondarygray-default-hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 18px;
    gap: 8px;

    width: 175px;
    height: 44px;


    /* Base/White */

    background: --var(--gray-50);
    /* Gray/300 */

    border: 1px solid --var(--gray-300);;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.xl-secondarygray-default-hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;

    width: 179px;
    height: 48px;


    /* Base/White */

    background: --var(--gray-50);
    /* Gray/300 */

    border: 1px solid --var(--gray-300);;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
._2xl-secondarygray-default-hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 28px;
    gap: 12px;

    width: 221px;
    height: 60px;


    /* Base/White */

    background: --var(--gray-50);
    /* Gray/300 */

    border: 1px solid --var(--gray-300);;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
///////
.sm-secondarygray-default{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    gap: 8px;

    width: 157px;
    height: 36px;


    /* Base/White */

    background: --var(--base-white-color);
    /* Gray/300 */

    border: 1px solid --var(--gray-300);;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.md-secondarygray-default{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 161px;
    height: 40px;


    /* Base/White */

    background: --var(--base-white-color);
    /* Gray/300 */

    border: 1px solid --var(--gray-300);;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.lg-secondarygray-default{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 18px;
    gap: 8px;

    width: 175px;
    height: 44px;


    /* Base/White */

    background: --var(--base-white-color);
    /* Gray/300 */

    border: 1px solid --var(--gray-300);;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.xl-secondarygray-default{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;

    width: 179px;
    height: 48px;


    /* Base/White */

    background: --var(--base-white-color);
    /* Gray/300 */

    border: 1px solid --var(--gray-300);;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
._2xl-secondarygray-default-focused{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 28px;
    gap: 12px;

    width: 221px;
    height: 60px;


    /* Base/White */

    background: --var(--base-white-color);
    /* Gray/300 */

    border: 1px solid --var(--gray-300);;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #F2F4F7;
    border-radius: 8px;
}

